extends ../layout/index

block content
    div.py-10.w-screen.min-h-screen
        h1.text-4xl.my-10.font-extrabold.text-center Real
            span.font-normal Estate 
        h2.text-center.text-2xl.font-bold= page

        a(href="/properties/create" class="rounded px-10 py-2 bg-indigo-600 hover:bg-indigo-700 text-sm text-white text-center uppercase my-5 mx-5 inline-block w-full sm:w-auto") Publish a property